*	{
	box-sizing: border-box;
}

body	{
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 150%;
	font-weight: 700;
	font-family: "Open Sans","Condensed" "Arial", sans-serif;
	letter-spacing: 2px;
}

*:focus	{
	outline: 2px solid skyblue;
	outline-offset: 3px;
}

/* CONTAINER */
.container	{
	width: 100%;
	max-width: 1440px;
  padding-left: 24px;
	padding-right: 24px;
  margin-left: auto;
	margin-right: auto;
}

/* SITE-HEADER */
.site-header	{
padding-top: 24px;
padding-bottom: 24px;
border-top: 3px solid skyblue;
background-color: #fff;
}

.site-header-container	{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-link	{
transition: opacity 0.4s ease;
margin-left: 24px;
}

.logo-link:hover	{
	opacity: 0.8;
}

.logo-link:active	{
	opacity: 0.6;
}

.logo-link-img	{
	display: block;
}

.site-header-actions	{
display: flex;
align-items: center;
}

/* SITENAV */
.sitenav-list	{
	display: flex;
	padding: 0;
	margin: 0;
 margin-right: 32px;
	list-style: none;
}

.sitenav-item	{
	margin-right: 32px;
}

.sitenav-item:last-child	{
	margin-right: 0;
}

.sitenav-link	{
font-size: 14px;
line-height: 21px;
font-weight: 700;
letter-spacing: 2px;
text-transform: uppercase;
text-decoration: none;
color: #222;
transition: color 0.4s ease, opacity 0.6s ease;
}

.sitenav-link:hover	{
color: #DE2E54;
}

.sitenav-link:active	{
	opacity: 0.6;
}

/* MAIN-LINK */
.main-link	{
	display: inline-block;
  padding: 12px 24px;
  border-radius: 8px;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
  font-size: 15px;
	line-height: 150%;
	font-weight: 700 ;
  background-color:  #DE2E54;
  color: #fff;
  text-decoration: none;
	transition: opacity 0.4s ease;
}

.main-link:hover	{
	opacity: 0.8;
}

.main-link:active	{
	opacity: 0.6;
}





/* HERO */
.hero	{
padding-top: 120px;
padding-bottom: 120px;
background-color: #0EB4C1;
color: #fff;
}

.hero-container	{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero-content	{
width: 440px;
}

.hero-heading	{
	margin: 0;
	margin-bottom: 16px;
	margin-top: 120px;
	color: #fff;
	font-family: "Open Sans", "Condensed", "Arial", sans-serif;
	width: 500px;
	font-size: 36px;
	font-style: 36px;
	line-height: 1.2;
}

.hero-text	{
margin-top; 0;
margin-bottom: 36px;
color: #FFF;
font-family: Open Sans;
width: 440px;
line-height: 108;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}

.hero-img	{
	margin-top: 2px;
	margin-left: 847px;
	margin-right: 170px;
	width: 423px;
 height: 504px;
	display: flex;
	justify-content: center;
	align-items: center;

}

/* FEATURES */
.features-heading	{
padding-top: 120px;
padding-bottom: 120px;
}

.features-heading	{
	margin-top: 0;
  margin-bottom: 56px;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
  width: 133px;
	height: 43px;
	font-size: 36px;
	line-height: 1.2;
}

.feature-heading-kalla	{
	display: flex;
	justify-content: center;
	align-items: center;
}

.container	{


}

.feature	{
margin-bottom: 60px;
width: 600px;
display: flex;
justify-content: left;
align-items: left;
}

.feature-icon-wrapper	{
	display: flex;
	justify-content: center;
	align-items: center;
}

.feature-tittle	{
	margin-top: 0;
	margin-bottom: 24px;
	margin-left: 64px;
  columns: #000;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
  width: 67px;
	line-height: 29;
	font-size: 24px;
  line-height: 1.2;
}

.feature-text	{
 margin-bottom: 80;
 width: 600px;
 line-height: 1.5;
 font-family: "Open Sans", "Arial", sans-serif;
 font-size: 16px;
 color: #444;
}

.feature-tittle-ha	{
display: flex;
justify-content: right;
align-items: right;

}

.feature-text-yoq	{
display: flex;
justify-content: right;
align-items: right;
}


.feature	{
	list-style: none;
}
